@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #cecaca;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
  background: #f3f3f3;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.2);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background: rgb(211, 207, 201);
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #232323;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  border: 1px solid #232323;
}

.equals {
  /* background: rgb(165, 223, 165); */
  grid-column: 3/5;
}

.opt {
  background: rgb(231, 186, 103);
}
